.App {
    min-height: 450px;
    height: 100vh;
    min-width: 750px;
    display: grid;
    padding: 20px;
    grid-template-columns: 250px minmax(400px, 1fr);
    grid-template-rows: 90px minmax(300px, 1fr);
    grid-template-areas:
        'side head'
        'side body';
}