.card2 {
    border-radius: 12px;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    -webkit-backdrop-filter: blur(0.75px);
    backdrop-filter: blur(0.75px);
    border: 1px solid rgb(0, 0, 0);
    transition: 0.5s;
    
    * {
        margin: 0px;
        overflow: hidden;
        padding: 2px;
    }

    .title {
        height: 66%;
        border-radius: 12px 12px 0 0;
        text-align : center;
        background: black;
        color: azure;
        font-size: 28px;
        font-weight: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mid {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 34%;
        text-align : center;
        background: rgb(72, 72, 72);
        color: azure;
        font-size: 18px;
        border-radius: 0 0 12px 12px ;
        border: 1px solid rgb(0, 0, 0);
    }

}

.card2:hover {
    transform: scale(1.04);
    z-index: 2;
}