.card {
    border-radius: 12px;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    -webkit-backdrop-filter: blur(0.75px);
    backdrop-filter: blur(0.75px);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px black;
    transition: 0.5s;
    display: flex;
    flex-direction: column;

    * {
        margin: 0px;
        overflow: hidden;
        padding: 2px;
        transition: 0.5s;
    }

    .title {
        padding: 3px;
        height: 70px;
        width: 100%;
        border-radius: 12px 12px 0 0;
        background: black;
        font-weight: 1000;
        color: azure;
        font-size: calc(0.75rem + 0.8vw);
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .mid {
        text-align: center;
        background: rgb(72, 72, 72);
        color: azure;
        font-size: calc(0.12rem + 0.8vw);
        padding: 4.5px;
    }

    .info {
        padding: 3px;
        text-align: justify;
        font-size: calc(0.15rem + 0.8vw);
    }

    .info-text {
        padding-top: 0px;
    }

    .info-text::before {
        float: left;
        margin-right: 5px;
        color: black;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: url('../assets/tick.svg') no-repeat center center;
    }

}

.card:hover {
    box-shadow: 4px 4px black;
    transform: scale(1.04);
    z-index: 2;
}


@media (max-width: 1195px) {
    .card {
        .title {
            font-size: calc(0.8rem + 0.8vw);
        }

        .mid {
            font-size: calc(0.15rem + 0.8vw);
        }

        .info {
            font-size: calc(0.25rem + 0.8vw);
        }
    }
}

@media (max-width: 850px) {
    .card {
        .title {
            font-size: calc(1rem + 0.8vw);
        }

        .mid {
            font-size: calc(0.3rem + 0.8vw);
        }

        .info {
            font-size: calc(0.45rem + 0.8vw);
        }
    }
}